[Unit]
Description=LinkPanel nginx - administration web server
Documentation=https://www.hestiacp.com
PartOf=linkpanel.service
After=linkpanel-php.service

[Service]
Type=forking
PIDFile=/run/linkpanel-nginx.pid
ExecStart=/usr/local/linkpanel/nginx/sbin/linkpanel-nginx -c /usr/local/linkpanel/nginx/conf/nginx.conf
ExecReload=/bin/sh -c "/bin/kill -s HUP $(/bin/cat /run/linkpanel-nginx.pid)"
ExecStop=/bin/sh -c "/bin/kill -s TERM $(/bin/cat /run/linkpanel-nginx.pid)"

[Install]
WantedBy=linkpanel.service
