Source: linkpanel
Package: linkpanel
Priority: optional
Version: 1.9.0~alpha
Section: admin
Maintainer: LinkPanelCP <info@hestiacp.com>
Homepage: https://www.hestiacp.com
Architecture: amd64
Depends: bash, awk, sed, acl, sysstat, setpriv | util-linux (>= 2.33), zstd, lsb-release, idn2, jq, jailkit
Description: linkpanel
 linkpanel is an open source hosting control panel.
 linkpanel has a clean and focused interface without the clutter.
 linkpanel has the latest of very innovative technologies.
 linkpanel is a fork from VestaCP, special thanks to vestacp.com and Serghey Rodin
