[Unit]
Description=LinkPanel web console
Documentation=https://linkpanel.atsi.cloud
Wants=network-online.target
After=network-online.target
Requires=linkpanel-php.service
Requires=linkpanel-nginx.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
