[Unit]
Description=LinkPanel PHP daemon
Documentation=https://linkpanel.atsi.cloud
PartOf=linkpanel.service

[Service]
Type=forking
PIDFile=/run/linkpanel-php.pid
ExecStart=/usr/local/linkpanel/php/sbin/linkpanel-php --fpm-config /usr/local/linkpanel/php/etc/php-fpm.conf
ExecReload=/bin/sh -c "/bin/kill -s HUP $(/bin/cat /run/linkpanel-php.pid)"
ExecStop=/usr/bin/php -r '$pid=(int)file_get_contents("/run/linkpanel-php.pid");posix_kill($pid,SIGTERM);while(posix_kill($pid,0)){sleep(0);}'
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment HOSTNAME=$(/usr/bin/hostname)"
Environment="LINKPANEL=/usr/local/linkpanel"

[Install]
WantedBy=linkpanel.service
