Source: linkpanel-web-terminal
Package: linkpanel-web-terminal
Priority: optional
Version: 1.0.0
Section: admin
Maintainer: LinkPanelCP <info@linkpanelcp.com>
Homepage: https://linkpanel.atsi.cloud
Architecture: amd64
Depends: linkpanel, nodejs (>= 20.0.0)
Description: linkpanel web terminal
 linkpanel is an open source hosting control panel.
 linkpanel has a clean and focused interface without the clutter.
 linkpanel has the latest of very innovative technologies.
 linkpanel is a fork from VestaCP, special thanks to vestacp.com and Serghey Rodin
