[Unit]
Description=LinkPanelCP Web Terminal
Documentation=https://linkpanelcp.com/docs/
After=network.target

[Service]
User=root
Group=linkpanel-users
Environment=NODE_ENV=production
Environment=LINKPANEL=/usr/local/linkpanel
ExecStart=/usr/local/linkpanel/web-terminal/server.js
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
